

body {
    color: black;
    font-family: 'Lato', sans-serif;
    padding:  0% 5% 0% 5%;
    background: #FFD9C0;
    
  }
  

  .top-header{
    color: black; 
    display: flex;
    align-items: center;
    width: 94%;
    justify-content: space-between;
   
  }

  #refresh-button {
    margin-left: auto; 
    cursor: pointer;
}
 
  .main-wrapper{
    width: 90%;
    height: 80vh;
    padding: 2% 2%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.playground{
    background-color: #CCEEBC;
    height: 60%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hanging-area{
    background-color:white; 
    height: 90%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}

.hangman {
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
}


.hangman-stage {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%; 
    display: none; 
    
}


.hangman-stage.active {
    display: block;
  
}




.question-area{
    background-color:white;
    height: 90%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40pt;
    padding-left: 10px;
}

  .button-wrapper{

    background-color:#FFD9C0;
    height: 40%;
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  
  


   .alphabets {
    width: 70px;
    height: 66px;
    border: 1px solid #ffffff;
    background: #ffffff;
    text-align: center;
    color: black;
    border-radius:  5px 5px ;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
  }
  .alphabets:hover {
    background: #8CC0DE;
    color: #CCEEBC;
   
  }

    .alphabets.incorrect {
    background: #f35764;
    color: black;
    }


    .alphabets.correct {
        background: #CCEEBC;
        color: black;
        }